<!-- Primary Author: Jonathan Allen (jallen01) -->
<!-- Personal bill modal -->

<table class="table table-condensed">
  <tr>
    <th>Item Name</th>
    <th>Item Cost</th>
    <th>Personal Cost</th>
  </tr>
  <% @user_items.each do |item| %>
    <tr>
      <%= content_tag :td, item.name %>
      <%= content_tag :td, number_to_currency(item.cost) %>
      <%= content_tag :td, number_to_currency(item.user_cost) %>
    </tr>
  <% end %>
</table>

<h4>Total: <%= number_to_currency(@user_total) %></h4>


