<!-- Primary Author: Jonathan Allen (jallen01) -->

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Personal Bill</h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-error" id="invalid-bill-input-error">One or more inputs are invalid</div>

      <table class="table table-condensed">
        <tr>
          <th>Item Name</th>
          <th>Item Cost</th>
          <th>Personal Cost</th>
        </tr>
        <% @items.each do |item| %>
          <tr>
            <%= content_tag :td, item.name %>
            <%= content_tag :td, number_to_currency(item.cost) %>
            <% puts "dsfakhdslkjfhdsalk-------------" %>
            <% puts item.users %>
            <% puts "dsfakhdslkjfhdsalk-------------" %>
            <%= content_tag :td, number_to_currency(item.user_cost) %>
          </tr>
        <% end %>
      </table>

      <h4>Total Bill: <%= @items_total %></h4>
    </div>
  </div>
</div>

