<!-- Primary Author: Paula Jacobs (paulaj) -->
<h2>Your Personal Bill</h2>
<br>
<br>
<div class="hero-unit">
  <table class="table">
  	<thead>
      <tr>
        <th>Your Food</th>
        <th>What You Owe</th>
      </tr>
    </thead>	
    <tbody>

      <% @items.each do |item| %>

        <tr>
          <td><%=item%></td>
          <td>
            <%=item.cost%>
          </td>
        </tr>

      <% end %> 
    </tbody>
  </table>
</div>

<hr>
  <table>
  	
    <tbody>
        <tr>
          <td>You Owe: </td>
          <td>
          	<%=@items_total%></td>
        </tr>

 
    </tbody>
  </table>
 
  
  <br/>


 <a href="#" class="btn btn-large btn-danger">Back to Order</a> 
 <a href="#" class="btn btn-large btn-success">Finish Payment</a> 

