<!-- Primary Author: Jonathan Allen (jallen01) -->
<!-- Add user to group form -->

<%= form_tag add_user_group_url(@group), remote: true do %>
  <%= render "layouts/form_errors", errors: @new_membership.errors %>

  <div class="form-group">
    <%= text_field_tag :email, nil, placeholder: "User Email", class: "form-control" %>
  </div>

  <%= submit_tag "Add User", class: "btn btn-default" %>

<% end %>

