<!-- Primary Author: Jonathan Allen (jallen01) -->
<!-- Add user to group form -->

<%= render "layouts/form_errors", errors: @new_membership.errors %>

<%= text_field_tag :email, nil, placeholder: "User Email" %>
<span class="input-group-btn">
  <%= link_to "Add User", add_user_group_url(@group), remote: true, class: "btn btn-default" %>
</span>
