<%= form_for @group, class: "add-item" do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control input-xlarge", placeholder: "Group Name" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

