<!-- Primary Author: Jonathan Allen (jallen01) -->
<!-- Group users list -->

<% @group.memberships.each do |membership| %>
  <tr>
    <td>
      <%= membership.user.name %>
    </td>
    <td><%= membership.user.email %></td>
    <td>
      <% if membership.user != @group.owner %>
        <%= link_to glyph(:remove), group_membership_url(@group, membership), method: :delete, remote: true %>
      <% else %>
        Owner
      <% end %>
    </td>
  </tr>
<% end %>




