<!-- Primary Author: Jonathan Allen (jallen01) -->
<!-- Group users list -->

<% @group.memberships.each do |membership| %>
  <tr>
    <td>
      <%= membership.user.name %>
    </td>
    <td><%= membership.user.email %></td>
    <td>
      <div class="pagination-centered">
        <% if membership.user != @group.owner && @group.owner == current_user %>
          <%= link_to glyph(:remove), remove_user_group_url(@group, user_id: membership.user.id), remote: true %>
        <% elsif membership.user == @group.owner %>
          Owner
        <% end %>
      </div>
    </td>
  </tr>
<% end %>




