<h2>Edit Group</h2>
<br>
<br>
<div class="hero-unit">
  Name: 
  <input type="text" class="form-control">
  
  Users:
  <input type="text" class="form-control">
  
  <br/>

 <a href="#" class="btn btn-large btn-success">Done!</a> 