<h2>Welcome to BillSplitter</h2>
<br>
<br>
<div class="hero-unit">
  <h3>
  Current Groups
  </h3>
  <hr>
  <table >
    <tbody>
        <tr>
          <td><a href="group_show">Group 1</a></td>
          <td>
            <a href="#" class="btn">X</a>
          </td>
        </tr>

        <tr>
          <td><a href="#">Group 2</a></td>
          <td>
            <a href="#" class="btn">X</a>
          </td>
        </tr>

        <tr>
          <td><a href="#">Group 3</a></td>
          <td>
            <a href="#" class="btn">X</a>
          </td>
        </tr>
    </tbody>
  </table>

</div>

<a href="group_create" class="btn btn-large btn-info">Add Group</a> 


