<!-- Primary Author: Charles Liu (cliu2014) -->
<h2>Welcome to BillSplitter</h2>
<br>
<br>
<div class="hero-unit">
  <h3>
  Your Groups
  </h3>
  <table >
      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to group, group %></td>
          <td>
            <%= link_to 'X', group, method: :delete, data: { confirm: 'Are you sure you want to delete this group?' }, class: 'btn' %>
          </td>
        </tr>
      <% end %>
  </table>

</div>

<%= link_to "Create a Group", new_group_url, class: "btn btn-large btn-info", remote: true %>


