<h2>Group Name's Bill</h2>
<br>
<br>
<div class="hero-unit">
  <table>
    <tbody>
        <tr>
          <td>Item 1</td>
          <td>
            <a href="#" class="btn">X</a>
          </td>
        </tr>

        <tr>
          <td>Item 2</td>
          <td>
            <a href="#" class="btn">X</a>
          </td>
        </tr>

        <tr>
          <td>Item 3</td>
          <td>
            <a href="#" class="btn">X</a>
          </td>
        </tr>
    </tbody>
  </table>
</div>
 <a href="#" class="btn btn-large btn-info">Add Item</a> 
 <a href="#" class="btn btn-large btn-success">Check Please!</a>