<!-- Primary Author: Paula Jacobs (paulaj) -->
<h2>Your Personal Bill</h2>
<br>
<br>
<div class="hero-unit">
  <table class="table">
  	<thead>
      <tr>
        <th>Your Food</th>
        <th>What You Owe</th>
      </tr>
    </thead>	
    <tbody>
        <tr>
          <td>Item 1</td>
          <td>
            $1.00
          </td>
        </tr>

        <tr>
          <td>Item 2</td>
          <td>
            $2.00
          </td>
        </tr>

        <tr>
          <td>Item 3</td>
          <td>
            $3.00
          </td>
        </tr>
    </tbody>
  </table>
</div>


  <table>
  	
    <tbody>
    	<tr>
          <td>Tip</td>
          <td>
           <input type="text" class="form-control"></td>
        </tr>
        <tr>
          <td>Total with Tax and Tip:</td>
          <td>
           $150.00 </td>
        </tr>
        <tr>
          <td>You Pay:</td>
          <td>
          	<input type="text" class="form-control"></td>
        </tr>

 
    </tbody>
  </table>
  <hr>

  <table>
  	
    <tbody>
    	<tr>
          <td>You owe User $5.00</td>
        <tr>
          <td>You owe User $7.00</td>  
        </tr>
        

 
    </tbody>
  </table>
  
  <br/>


 <a href="#" class="btn btn-large btn-danger">Back to Order</a> 
 <a href="#" class="btn btn-large btn-success">Finish Payment</a> 

