<!-- Primary Author: Charles Liu (cliu2014) -->
<div id="show-group">
  <h2 id="group-name"><%= @group.name %></h2>
  <span><%= link_to "edit group", edit_group_url(@group), remote: true, class: "edit-group-link" %></span>
  <br>
  <br>
  
  <%= render "items/list" %>

  <button class="btn btn-large" id="add-item-link">Add Item</button>
  <button class="btn btn-large btn-info" id="get-bill-link">Check Please!</button>
  <p><%= link_to "Back to all groups", groups_url, :class => "back-url" %></p>

  <div class="modal fade" id="personal-bill-modal">
  </div>

  <div class="modal fade" id="item-users-modal">
  </div>

</div>
