<!-- Primary Author: Jonathan Allen (jallen01) -->
<!-- Add user to item form -->

<%= render "layouts/form_errors", errors: @new_partition.errors %>

<%= text_field_tag :email, nil, placeholder: "User Email" %>
<span class="input-group-btn">
  <%= link_to "Add User", add_user_group_item_url(@group, @item), remote: true, class: "btn btn-default" %>
</span>


