<%= form_for @item, html: { class: 'form-inline', id: "add-item" } do |f|>
  <%= f.text_field :name, placeholder: "Item Name" %>
  <div class="input-prepend">
    <span class="add-on">$</span>
    <%= f.text_field :cost, placeholder: "0.00" %>
  </div>

  <%= f.submit "Add", class: "btn btn-primary" %>
  <button class="btn btn-default" id="cancel-add-item">Cancel</button>
  <div class="alert alert-error" id="add-item-error"></div>
</div>