<!-- Primary Author (jallen01) -->
<!-- List users associated with item. Table rows. -->

<% @item.users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
      <%= link_to glyph(:remove), remove_user_group_item_url(@group, @item, user_id: user.id), remote: true %>
    </td>
  </tr>
<% end %>