<h2>Add Item</h2>
<br>
<br>
<div class="hero-unit">
  Name: 
  <input type="text" class="form-control">
  Cost:
  <input type="text" class="form-control">
  User:
  <input type="text" class="form-control">
  
  <br/>

 <a href="#" class="btn btn-large btn-success">Done!</a> 