// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-group {
	h2 {
		display: inline-block;
	}

	input[type="text"] {
		margin: 0px;
	}

	.alert {
		display: none;
	}

	#add-item-area {
		display: none;
		margin-top: 10px;
		width: 65%;
		height: 55px;

		#item-cost {
			width: 15%;
		}

		.alert {
			margin-top: 10px;
			width: 65%;
		}
	}

	.modal-body {
		input[type="text"] {
			width: 30px;
		}
	}
}