// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-group {
	input[type="text"] {
		margin: 0px;
	}

	#add-item-area {
		display: none;
		margin-top: 10px;
		width: 65%;
		height: 55px;

		#item-cost {
			width: 15%;
		}

		.alert {
			display: none;
			margin-top: 10px;
			width: 65%;
		}
	}
}