body {
  padding-top: 5px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  margin-top:50px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.hero-unit {
  background-color: #99CCFF;
  width: 40%;
  padding: 20px 40px;
}

td {
	width:200px;
}

th {
	text-align:left;
}

hr {
	border-color: black;
	border-style: solid none;
	width:70%;
}

.back-url {
  font-size: 16px;
}

form {
  margin: 0px;
}

.bold {
  font-weight: bold;
}
