body {
  padding-top: 50px;
}

#edit-item-modal .modal-body {
	max-height: 455px;
}

.row {
	margin-left: 0px;
}

td {
	// HACK! Overwrite the default Bootstrap td style of vertical-align: top
	vertical-align: middle !important;
}